@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --background: #fff;
  --foreground: #6f6f6f;
  --second-background: #fbfbfb;
}

body {
  /*color: var(--foreground);*/
  /*background: var(--background);*/
  /*font-family: Roboto, sans-serif;*/
}

.PhoneInputInput {
  border-color: #fff;
  transition: border-color 300ms linear;
}
.PhoneInputInput:hover,
.PhoneInputInput:focus {
  border-color: #38bcea;
}
.PhoneInput .PhoneInputCountry {
  display: none; /* Скрываем флаг */
}
