@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --background: #fff;
  --foreground: #6f6f6f;
  --second-background: #FBFBFB;
}

body {
  /*color: var(--foreground);*/
  /*background: var(--background);*/
  /*font-family: Roboto, sans-serif;*/
}
