@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #6f6f6f;
  --second-background: #FBFBFB;
}

body {
  /*color: var(--foreground);*/
  /*background: var(--background);*/
  /*font-family: Roboto, sans-serif;*/
}

.PhoneInputInput {
  border-color: transparent;
  transition: border-color 300ms linear;
}
.PhoneInputInput:hover, .PhoneInputInput:focus {
  border-color: #38BCEA;
}
.PhoneInput .PhoneInputCountry {
  display: none; /* Скрываем флаг */
}

